@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');

.Nav{
    float : left;
    background-color : #2c3e50;
    width : 100%;
    min-height : 60px;
    color : #fff;
    position : fixed;
    top : 0;
}

.Nav > ul {
    width : 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    min-height : 60px;
    width : 800px;
    display : block;
}

.Nav li{
    list-style: none;
    float: left;
    text-align: center;
    box-sizing: border-box;
    line-height : 57px;
    width: calc(100% / 3);
    border-bottom : 3px solid #079992;
}

.Nav li:nth-child(2) > a:hover{
    color :  #079992;
}

.Nav li:first-child{
    border-left: none;
    border-bottom : 3px solid #e58e26;
}

.Nav li:first-child > a:hover{
color : #e58e26;
}

.Nav li:last-child{
    border-bottom : 3px solid #b71540;
}

.Nav li:last-child > a:hover{
color : #b71540;
}

.Nav > ul > li > a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-family : 'Lemonada', cursive;
}

.hamburger-menu{
    display : none;
}

#hamburger-button{
    background : none;
    border : none;
    margin-left : 20px;
    margin-top : 10px;
    cursor : pointer;
    outline : none;
}

/* -------------------------------------------------- *\
                        RESPONSIVE
\* -------------------------------------------------- */
@media screen and (max-width : 800px){

    .hamburger-menu{
        display : block;
    }

    .Nav ul{
        width : 100% !important;
        display : none;
    }

    .Nav li{
        display : block;
        width:100%;
        border-bottom : none;
    }

    .Nav li:first-child, .Nav li:last-child{
        border-bottom : none;
    }

}